fastapi==0.110.0
uvicorn==0.29.0

scikit-learn==1.4.2
numpy==1.26.4
faiss-cpu==1.7.4

nltk==3.8.1
python-dotenv==1.0.1
requests==2.31.0
pydantic==1.10.15  # FastAPI 최신 버전과 호환됨

# Ollama는 로컬 실행이므로 별도 라이브러리 불필요 (requests로 HTTP 호출하면 됨)



#설치 방법
#pip install -r requirements.txt
